{% extends 'components/base.html' %} {% block title %}Songs{% endblock %} {%
block content %}
<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed top-0 sm:top-16 left-0 sm:left-4 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 rounded-lg"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-white sm:rounded-lg">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/learn"
          class="flex items-center p-2 text-black rounded-lg hover:text-blue-700 hover:bg-blue-100 group"
        >
          <svg
            class="w-5 h-5 text-black transition duration-75 group-hover:text-blue-700"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 21"
          >
            <path
              d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
            />
            <path
              d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
            />
          </svg>
          <span class="ms-3">Basic concept</span>
        </a>
      </li>
      <li>
        <a
          href="/blog"
          class="flex items-center p-2 text-blue-700 rounded-lg hover:text-blue-700 hover:bg-blue-100 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-blue-700 transition duration-75 group-hover:text-blue-700"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Blog</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="mx-4 my-4 sm:ml-64 flex-grow pt-12">
  <div class="mx-8 items-end">
    <!--course card-->
    <div class="h-full px-4 pt-4 overflow-y-auto bg-white sm:rounded-lg">
      <!--back to prev page-->
      <div class="flex">
        <a
          href="/blog"
          class="flex items-center justify-center me-3 text-lg font-medium text-blue-700 rounded-lg hover:underline hover:text-blue-400 md:px-4 md:py-2"
        >
          <svg
            class="w-3.5 h-3.5 me-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
        </a>
      </div>
    </div>

    <!--content-->
    <main class="pb-16 md:pb-24 bg-white antialiased">
      <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
        <article
          class="mx-auto w-full max-w-2xl format format-sm md:format-base md:format-lg format-blue"
        >
          <header class="mb-4 md:mb-6 not-format">
            <address class="flex items-center mb-6 not-italic">
              <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                <img
                  class="mr-4 w-16 h-16 rounded-full"
                  src="https://hub.yamaha.com/wp-content/uploads/2023/06/Bob-Habersat-150x150.jpg"
                  alt="Jese Leos"
                />
                <div>
                  <a
                    href="#"
                    rel="author"
                    class="text-xl font-bold text-gray-900"
                    >Bob Habersat</a
                  >
                  <p class="text-base text-gray-500">
                    Director of ShedTheMusic
                  </p>
                  <p class="text-base text-gray-500">
                    <time pubdate datetime="2022-02-08" title="March 13th, 2024"
                      >Mar. 13, 2024</time
                    >
                  </p>
                </div>
              </div>
            </address>
            <h1
              class="mb-2 text-3xl font-extrabold leading-tight text-gray-900 md:mb-4 md:text-4xl"
            >
              Guitar for beginner 2024
            </h1>
          </header>

          <p class="lead text-base text-gray-400">
            A guitar program will provide a musical opportunity to students who
            would not usually join traditional band, orchestra or choir.
          </p>

          <p class="pt-2 text-base text-black">
            Guitar is one of the most ubiquitous instruments in the world.
            Chances are there are guitar players in your school and there are
            definitely students who want to learn guitar. The type of student
            who is interested in guitar is not usually in the traditional band,
            choir and orchestra program. They are their own breed; they are
            guitar players.
          </p>

          <p class="pt-2 text-base text-black">
            Starting a guitar program is a great way to provide a musical
            opportunity to students who would not usually receive it while
            broadening their experience and enriching the music department at
            your school.
          </p>

          <p class="pt-2 text-base text-black">
            In this article we will explore different ways to start a program at
            your school.
          </p>

          <div class="pt-2">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/MgHN_LkmPLE?si=Hi7giKWUxJgcdfz4"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </article>
      </div>
    </main>
  </div>
</div>

{% endblock %}
