{% extends 'components/base.html' %} {% block title %}Songs{% endblock %} {%
block content %}
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>



<div class="mx-4 my-3 flex justify-center flex-col">
  <h3 class="text-2xl my-4 md:text-4xl font-bold tracking-tight text-gray-900 text-center">
    Discover Your Matched Guitar Tricks
  </h3>
  <!--content-->
  <main class="p-4 bg-white antialiased rounded-lg container mx-auto grid grid-cols-auto md:grid-cols-4 gap-4">
    <!--blog card-->

    <!--card1-->
<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
  <a href="/blogcard">
    <iframe
      class="rounded-t-lg w-full h-1/2"
      src="https://www.youtube.com/embed/dOcOt9-hm0I?si=a3SXVOiTDq8o_o9Y"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </a>
  <div class="p-5">
    <a href="/blogcard">
      <h5
        class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
      >
        How to Use A Wah Pedal
      </h5>
    </a>
    <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
      What's a wah pedal? It's a foot-controlled effects pedal that modulates
      the tone of your guitar.
    </p>
    <!-- <a
              href="/blogcard"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Read more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a> -->
  </div>
</div>
<!--card2-->
<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
  <a href="/blogcard">
    <iframe
      class="rounded-t-lg w-full h-1/2"
      src="https://www.youtube.com/embed/T16pOone4Ag?si=LJgivf-SPfLIsJUR"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </a>
  <div class="p-5">
    <a href="/blogcard">
      <h5
        class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
      >
        3 MORE tips to save YEARS
      </h5>
    </a>
    <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
      Learning guitar is super exciting, but it can also feel a bit
      overwhelming.
    </p>
    <!-- <a
              href="/blogcard"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Read more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a> -->
  </div>
</div>
<!--card3-->
<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
  <a href="/blogcard">
    <iframe
      class="rouned-t-lg w-full h-1/2"
      src="https://www.youtube.com/embed/sZcU1_gzZpc?si=f0QaSZHBWAGRNr2g"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </a>
  <div class="p-5">
    <a href="/blogcard">
      <h5
        class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
      >
        Get that REAL Country guitar sound
      </h5>
    </a>
    <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
      Country music has a distinct sound characterized by its twangy, clean, and
      bright tones.
    </p>
    <!-- <a
              href="/blogcard"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Read more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a> -->
  </div>
</div>
<!--card4-->
<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
  <a href="/blogcard">
    <iframe
      class="rouned-t-lg w-full h-1/2"
      src="https://www.youtube.com/embed/QxUFob8nFrM?si=6_55cR01QotWW3FQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </a>
  <div class="p-5">
    <a href="/blogcard">
      <h5
        class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
      >
        Americana/Folk guitar beginner strumming patterns
      </h5>
    </a>
    <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
      Learn in-depth Folk and Americana.
    </p>
    <!-- <a
              href="/blogcard"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Read more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a> -->
  </div>
</div>
<!--card5-->
<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
  <a href="/blogcard">
    <iframe
      class="rounded-t-lg w-full h-1/2"
      src="https://www.youtube.com/embed/8pHGorM7444?si=NBAIxyN7lx01UMfX"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </a>
  <div class="p-5">
    <a href="/blogcard">
      <h5
        class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
      >
        Ultimate Blues Guitar Guide
      </h5>
    </a>
    <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
      Get Guitar Tricks Full Access - 2 weeks.
    </p>
    <!-- <a
              href="/blogcard"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Read more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a> -->
  </div>
</div>
<!--card6-->
<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
  <a href="/blogcard">
    <iframe
      class="rounded-t-lg w-full h-1/2"
      src="https://www.youtube.com/embed/gZMWuBZWsQE?si=2VMyhoFL7hyhU5oI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </a>
  <div class="p-5">
    <a href="/blogcard">
      <h5
        class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
      >
        Fingerstyle Guitar Made Easy for Beginners
      </h5>
    </a>
    <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
      Fingerstyle guitar is a technique where you pluck the strings directly
      with the fingertips.
    </p>
    <!-- <a
              href="/blogcard"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Read more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a> -->
  </div>
</div>
  </main>

</div>

{% endblock %}