{% extends 'components/base.html' %} {% block title %}Songs{% endblock %} {%
block content %}
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>



<div class="mx-4 my-3 flex justify-center flex-col">
  <h3 class="text-2xl my-4 md:text-4xl font-bold tracking-tight text-gray-900 text-center">
    Discover Your Matched Guitar Players
  </h3>
  <!--content-->
  <main class="p-4 bg-white antialiased rounded-lg container mx-auto grid grid-cols-auto md:grid-cols-4 gap-4">
    <!--blog card-->

    <!--card1-->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
      <a href="/blogcard">
        <img class="rounded-t-lg"
          src="https://st4.depositphotos.com/3776273/22336/i/450/depositphotos_223367154-stock-photo-muscular-black-man-playing-guitar.jpg"
          alt="" />
      </a>
      <div class="p-5">
        <a href="/blogcard">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
            Guitar for beginner 2024
          </h5>
        </a>
        <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
          Here are a learning blog teching how to play guitar for beginner
          in easy way.
        </p>
        <a href="/blogcard"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    <!--card2-->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
      <a href="/blogcard">
        <img class="rounded-t-lg"
          src="https://st4.depositphotos.com/3776273/22336/i/450/depositphotos_223367154-stock-photo-muscular-black-man-playing-guitar.jpg"
          alt="" />
      </a>
      <div class="p-5">
        <a href="/blogcard">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
            Guitar for beginner 2024
          </h5>
        </a>
        <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
          Here are a learning blog teching how to play guitar for beginner
          in easy way.
        </p>
        <a href="/blogcard"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    <!--card3-->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
      <a href="/blogcard">
        <img class="rounded-t-lg"
          src="https://st4.depositphotos.com/3776273/22336/i/450/depositphotos_223367154-stock-photo-muscular-black-man-playing-guitar.jpg"
          alt="" />
      </a>
      <div class="p-5">
        <a href="/blogcard">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
            Guitar for beginner 2024
          </h5>
        </a>
        <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
          Here are a learning blog teching how to play guitar for beginner
          in easy way.
        </p>
        <a href="/blogcard"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    <!--card4-->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
      <a href="/blogcard">
        <img class="rounded-t-lg"
          src="https://st4.depositphotos.com/3776273/22336/i/450/depositphotos_223367154-stock-photo-muscular-black-man-playing-guitar.jpg"
          alt="" />
      </a>
      <div class="p-5">
        <a href="/blogcard">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
            Guitar for beginner 2024
          </h5>
        </a>
        <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
          Here are a learning blog teching how to play guitar for beginner
          in easy way.
        </p>
        <a href="/blogcard"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    <!--card5-->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
      <a href="/blogcard">
        <img class="rounded-t-lg"
          src="https://st4.depositphotos.com/3776273/22336/i/450/depositphotos_223367154-stock-photo-muscular-black-man-playing-guitar.jpg"
          alt="" />
      </a>
      <div class="p-5">
        <a href="/blogcard">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
            Guitar for beginner 2024
          </h5>
        </a>
        <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
          Here are a learning blog teching how to play guitar for beginner
          in easy way.
        </p>
        <a href="/blogcard"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    <!--card6-->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow">
      <a href="/blogcard">
        <img class="rounded-t-lg"
          src="https://st4.depositphotos.com/3776273/22336/i/450/depositphotos_223367154-stock-photo-muscular-black-man-playing-guitar.jpg"
          alt="" />
      </a>
      <div class="p-5">
        <a href="/blogcard">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
            Guitar for beginner 2024
          </h5>
        </a>
        <p class="text-sm md:text-base mb-3 font-normal text-gray-700">
          Here are a learning blog teching how to play guitar for beginner
          in easy way.
        </p>
        <a href="/blogcard"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
  </main>

</div>

{% endblock %}