{% extends 'components/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}



<div class="bg-gray-50 px-2">

    {% include 'components/detect-header.html' %}


    <section id="demos" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2  ">
        
        <section class="p-2 flex justify-content-center flex-col ">
            <p>
                <span id="chord">-</span>
                <span id="pitch">-</span>
                <span id="clarity">-</span>
                <span id="strum">-</span>
            </p>
        
            <div class="bg-white  ">
                <button class="p-2 bg-blue-800 text-white" id="capture-button">Capture Image</button>
                <div class="relative mx-auto border-gray-300 bg-gray-500 border-[8px] md:border-[16px] rounded-xl ">
                    <div class=" overflow-hidden h-100">
                        <div
                            class="flex items-center justify-center  shadow-inner bg-gradient-to-b from-cyan-900 to-blue-800">
                            <div style="position: relative; width: 100%; max-width: 660px;">
                                <video id="webcam" autoplay playsinline class="rounded-md md:hidden"></video>
                                <canvas class="output_canvas  md:hidden" id="output_canvas"></canvas>
                                <img id="overlay-guide" src="/static/images/overlay_green.png" class="overlay-guide ease-in-out duration-300"
                                    alt="Overlay Guide">
                                <div id="gesture_output"
                                    class="w-fit text-white bg-blue-800 rounded p-2 m-2 flex justify-center flex-col items-center">
                                    <p>Chord : <span id="chord_result">-</span></p>
                                    <div class="bg-white">
                                        <img src="/static/images/chords/chord_none.png" id="chord_image"
                                            class="rounded w-20 h-20">
                                    </div>
                                </div>

                                <div class="flex items-center justify-center bg-gray-100 " id="placeholder_block">
                                    <div class="text-base md:text-2xl text-black font-semibold text-center "
                                        id="camera_caution">
                                        <div class="">
                                            <button class="flex flex-row gap-1 animate-pulse">
                                                <div class="relative inline-block w-14 h-8">
                                                    <input type="checkbox" id="camera-toggle" class="hidden">
                                                    <label for="camera-toggle" class="toggle-label cursor-pointer">
                                                        <span
                                                            class="toggle-background block bg-gray-300 w-14 h-8 rounded-full">
                                                            <span
                                                                class="toggle-button absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition-transform duration-300"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                Start 
                                            </button>
                                        </div>

                                    </div>
                                    <div role="status" id="loading_spinner" style="display: none;">
                                        <svg aria-hidden="true"
                                            class="w-16 h-16 text-gray-200 animate-spin  fill-blue-600"
                                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                                fill="currentColor" />
                                            <path
                                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                                fill="currentFill" />
                                        </svg>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>

        <div>
            {% include 'components/setup_canvas.html' %}

            <section id="section_2" class="p-4 bg-gray-100 rounded overflow-x-auto overflow-y-auto shadow-inner"
                style="max-height: 700px;">

                {% if song.chord_auto %}
                <div class="lyrics-container">
                    {% for section in song.chord_auto %}
                    <div class="flex flex-row gap-2">
                        {% for item in section %}
                        <div class="relative line" {% if item.time is defined %}data-time="{{ item.time }}" {% endif %}
                            {% if item.next is defined %}data-next="{{ item.next }}" {% endif %}>
                            {% if item.chord %}
                            <span
                                chord-data="{{ item.chord }}"
                                class="absolute top-0 left-{% if item.left is defined %}{{ item.left }}{% else %}0{% endif %} chord">{{
                                item.chord }}</span>
                            {% endif %}
                            <span class="lyric pt-4">{{ item.lyrics }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

                {% else %}
                {% include 'songs/'+ song.id +'.html' %}
                {% endif %}
            </section>
        </div>

    </section>
</div>

<script src="{{ url_for('static', filename='js/main_script.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/detect_script.js') }}"></script>
<script src="{{ url_for('static', filename='js/auto_chord.js') }}"></script>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const mode = urlParams.get('mode');
    if (mode == "debug") {
        document.getElementById("capture-button").style.display = "block";
    } else {
        document.getElementById("capture-button").style.display = "none";
    }

</script>

</div>
{% endblock %}