{% extends 'components/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="bg-gray-100">
    <section class="flex flex-col gap-4 p-2 my-2">
        <div class="text-3xl text-black font-bold text-center">Welcome to Guitar Music</div>
        <div class="text-base text-gray-400 font-normal text-center">Let's try your first move with our model.</div>
    </section>

    <section id="demos" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 px-4 min-h-screen">


        <section class="bg-sky-100 p-2 flex justify-content-center flex-col ">
            <div>
                <button class="flex items-center">
                    <div class="relative inline-block w-14 h-8">
                        <input type="checkbox" id="camera-toggle" class="hidden">
                        <label for="camera-toggle" class="toggle-label cursor-pointer">
                            <span class="toggle-background block bg-gray-300 w-14 h-8 rounded-full">
                                <span
                                    class="toggle-button absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition-transform duration-300"></span>
                            </span>
                        </label>
                    </div>
                    <div class="text-lg text-black font-semibold text-center ml-4">Camera</div>
                </button>
            </div>
            <div class="flex items-center justify-center ">
                <div style="position: relative; width: 100%; max-width: 660px;">
                    <video id="webcam" autoplay playsinline ></video>
                    <canvas class="output_canvas" id="output_canvas" ></canvas>
                </div>
            </div>

            <p id="gesture_output" class="output"></p>
        </section>

        <section class="p-2 bg-gray-200 rounded">
            {% include 'songs/dont_look_back_the_anger.html' %}

        </section>

    </section>

    <script src="{{ url_for('static', filename='js/main_script.js') }}" type="module"></script>
</div>
{% endblock %}