{% extends 'components/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-blue-900">
            Guitar Learning <mark class="px-2 text-white bg-blue-900 rounded ">Powered by AI</mark>
        </h1>
        <p class="mb-2 md:mb-8 text-lg font-normal text-gray-800 lg:text-xl sm:px-16 xl:px-48 ">
            Learn to play guitar with the <span
                class="underline underline-offset-3 decoration-8 decoration-blue-400">help of
                AI</span></h1>. Select a song and start playing.

        </p>
        <div
            class="flex flex-col justify-center items-center mb-4 space-y-4 sm:justify-center sm:space-y-0 sm:space-x-4">

            <div class="button-container">
                <a class="brutalist-button openai" href="/detect?song_title=Dont look back in anger"
                    onclick="playSound('chord_a');">
                    <div class="openai-logo">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="openai-icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                        </svg>

                    </div>
                    <div class="button-text">
                        <span>Chord</span>
                        <span>Detection</span>
                    </div>
                </a>
            </div>






        </div>



        {% from 'components/chord_card.html' import chord_card %}
        <div class="flex flex-row justify-between gap-2 w-full my-4">
            {{ chord_card('chord_a_card', 'A') }}
            {{ chord_card('chord_c_card', 'C') }}
            {{ chord_card('chord_d_card', 'D') }}
            {{ chord_card('chord_e_card', 'E') }}
            {{ chord_card('chord_f_card', 'F') }}
            {{ chord_card('chord_g_card', 'G') }}
        </div>

        <div class="mt-2 shadow">
            {% include 'components/imageGallery.html' %}
        </div>

    </div>
</section>

{% endblock %}