{% extends 'components/base.html' %} {% block title %}Songs{% endblock %} {%
block content %}

<!-- <body class="bg-gray-50">
    
    {% include 'components/learn_filter.html' %}
    
</body> -->

<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed top-0 sm:top-16 left-0 sm:left-4 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 rounded-lg"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-white sm:rounded-lg">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-black rounded-lg hover:text-blue-700 hover:bg-blue-100 group"
        >
          <svg
            class="w-5 h-5 text-black transition duration-75 group-hover:text-blue-700"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 21"
          >
            <path
              d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
            />
            <path
              d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
            />
          </svg>
          <span class="ms-3">Basic concept</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-black rounded-lg hover:text-blue-700 hover:bg-blue-100 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-black transition duration-75 group-hover:text-blue-700"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Blog</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="mx-4 sm:ml-64 flex-grow">
  <div class="mx-8 items-end">
    {% include 'components/learn_filter.html' %}

    <!--course card-->
    <div
      class="flex items-center h-32 md:h-48 mb-4 rounded bg-white shadow shadow-blue-200"
    >
      <div class="px-4 md:px-8 flex justify-between items-center w-full">
        <div class="flex items-center">
          <img
            class="w-10 h-10 md:w-20 md:h-20 rounded-lg border border-blue-200"
            src="..\static\images\learn\concept.png"
            alt="course img"
          />
          <div class="ml-2 md:ml-4 pt-4 md:pt-0">
            <h1 class="text-sm md:text-xl font-bold text-primary-950">Title</h1>
            <p class="text-xs md:text-base font-normal text-gray-600 mb-6 md:mb-8">Description</p>
          </div>
        </div>
        <div class="ml-auto items-center">
          <div class="flex items-center mb-2 md:mb-4">
            <div class="w-2 h-2 md:w-4 md:h-4 rounded-full bg-green-400"></div>
            <p class="text-xs md:text-base text-green-400 font-normal ml-1 md:ml-2">Easy</p>
          </div>
            <a href="#" class="rounded-lg bg-blue-500 inline-flex items-center text-xs md:text-base font-medium text-white hover:text-blue-500 text-center hover:bg-blue-300 py-2 px-2 md:py-2 md:px-4">
                Read more
                <svg class="ml-1 md:ml-2 w-2 h-2 md:w-4 md:h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>
    </div>
    <div
      class="flex items-center h-32 md:h-48 mb-4 rounded bg-white shadow shadow-blue-200"
    >
      <div class="px-4 md:px-8 flex justify-between items-center w-full">
        <div class="flex items-center">
          <img
            class="w-10 h-10 md:w-20 md:h-20 rounded-lg border border-blue-200"
            src="..\static\images\learn\concept.png"
            alt="course img"
          />
          <div class="ml-2 md:ml-4 pt-4 md:pt-0">
            <h1 class="text-sm md:text-xl font-bold text-primary-950">Title</h1>
            <p class="text-xs md:text-base font-normal text-gray-600 mb-6 md:mb-8">Description</p>
          </div>
        </div>
        <div class="ml-auto items-center">
          <div class="flex items-center mb-2 md:mb-4">
            <div class="w-2 h-2 md:w-4 md:h-4 rounded-full bg-yellow-400"></div>
            <p class="text-xs md:text-base text-yellow-400 font-normal ml-1 md:ml-2">Medium</p>
          </div>
            <a href="#" class="rounded-lg bg-blue-500 inline-flex items-center text-xs md:text-base font-medium text-white hover:text-blue-500 text-center hover:bg-blue-300 py-2 px-2 md:py-2 md:px-4">
                Read more
                <svg class="ml-1 md:ml-2 w-2 h-2 md:w-4 md:h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>
    </div>
    <div
      class="flex items-center h-32 md:h-48 mb-4 rounded bg-white shadow shadow-blue-200"
    >
      <div class="px-4 md:px-8 flex justify-between items-center w-full">
        <div class="flex items-center">
          <img
            class="w-10 h-10 md:w-20 md:h-20 rounded-lg border border-blue-200"
            src="..\static\images\learn\concept.png"
            alt="course img"
          />
          <div class="ml-2 md:ml-4 pt-4 md:pt-0">
            <h1 class="text-sm md:text-xl font-bold text-primary-950">Title</h1>
            <p class="text-xs md:text-base font-normal text-gray-600 mb-6 md:mb-8">Description</p>
          </div>
        </div>
        <div class="ml-auto items-center">
          <div class="flex items-center mb-2 md:mb-4">
            <div class="w-2 h-2 md:w-4 md:h-4 rounded-full bg-red-400"></div>
            <p class="text-xs md:text-base text-red-400 font-normal ml-1 md:ml-2">Hard</p>
          </div>
            <a href="#" class="rounded-lg bg-blue-500 inline-flex items-center text-xs md:text-base font-medium text-white hover:text-blue-500 text-center hover:bg-blue-300 py-2 px-2 md:py-2 md:px-4">
                Read more
                <svg class="ml-1 md:ml-2 w-2 h-2 md:w-4 md:h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
