<header class="bg-white">
    <div class="flex justify-between items-center shadow-md px-10 py-2">
        <div class="flex items-center">
            <div class="w-5 h-5 bg-black rounded-full mr-2"></div>
            <h1 class="text-2xl font-bold text-primary-950">Guitar Music</h1>
        </div>
        <div class="flex space-x-4">
            <a href="/" class="nav-link text-black font-semibold">Home</a>
            <a href="/song" class="nav-link text-gray-500 font-semibold">Song Library</a>
        </div>
    </div>
</header>