<header class="bg-white shadow-md px-10 py-2 mb-1">
    <div class="flex justify-between items-center ">
        <div class="flex items-center">
            <div class="w-5 h-5 bg-black rounded-full mr-2"></div>
            <h1 class="text-2xl font-bold text-primary-950">Guitar Music</h1>
        </div>
        <div class="flex space-x-4">
            <a href="/" class="nav-link text-black font-semibold hover:scale-105 duration-300 ease-in-out">Home</a>
            <a href="/detect" class="nav-link text-gray-500 font-semibold hover:scale-105 duration-300 ease-in-out">Chord Detector</a>
            <a href="/song" class="nav-link text-gray-500 font-semibold hover:scale-105 duration-300 ease-in-out">Song Library</a>
        </div>
    </div>
</header>