{% macro popover_component(id, chord_name) %}
<span data-popover-target="{{ id }}" >
    {{ chord_name }}
</span>

<div data-popover id="{{ id }}" role="tooltip"
    class="absolute z-10 invisible inline-block w-32 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 ">
    <p class="p-4">Chord {{ chord_name }}</p>
    <img src="{{ url_for('static', filename='images/chords/chord_' + chord_name.lower() + '.png') }}" alt="chord {{ chord_name }}" class="rounded">
    
    <div data-popper-arrow></div>
</div>
{% endmacro %}
