<div>
    <div class="md:flex justify-between w-full ">
        <h2 class="text-3xl font-bold text-primary-950 mb-2">
            Library
        </h2>

        <div class="flex items-center justify-center py-2 md:pt-8 flex-wrap">
            <a href="/song"
                class="{{ 'text-blue-700 border border-blue-600' if not genre else 'text-gray-900 border border-white ' }} bg-white hover:text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 ">All
                genre</a>
            <a href="/song?genre=Rock"
                class="{{ 'text-blue-700 border border-blue-600' if genre == 'Rock' else 'text-gray-900 border border-white ' }} hover:border-gray-200  bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 ">
                Rock
            </a>
            <a href="/song?genre=Pop"
                class="{{ 'text-blue-700 border border-blue-600' if genre == 'Pop' else 'text-gray-900 border border-white ' }} hover:border-gray-200  bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 ">
                Pop
            </a>
            <a href="/song?genre=Alternative"
                class="{{ 'text-blue-700 border border-blue-600' if genre == 'Alternative' else 'text-gray-900 border border-white ' }} hover:border-gray-200  bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 ">
                Alternative
            </a>
        </div>
    </div>
    </div>
