
<section class="P8ReX">
                <div>
                    <section class="OnD3d kmZt1"><code class="yqhFQ"><pre class="tK8GG Ty_RP" style="font-size: 13px; font-family: &quot;Roboto Mono&quot;, &quot;Courier New&quot;, monospace;">
 
 
                [Intro]
                 
                | <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    | <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>    | <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    | <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>    |
                 
                 
                [Verse 1]
                <span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>               <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>            <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>
                Slip inside the eye of your mind
                </span><span class="fsG7q">          <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>    <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                Don't you know you might find
                </span><span class="fsG7q">                  <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>     <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                A better place to play
                </span><span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>             <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>           <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>
                You said that you'd never been
                </span><span class="fsG7q">            <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>                 <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>    <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                But all the things that you've seen
                </span><span class="fsG7q">             <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                Slowly fade away
                </span> 
                 
                [Pre-Chorus]
                <span class="fsG7q"><span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>                 <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                 So I start a revolution from my bed
                </span><span class="fsG7q">         <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>                 <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                'Cos you said the brains I had went to my head
                </span><span class="fsG7q"><span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>             <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>             <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                Step outside, summertime's in bloom
                </span><span class="fsG7q"><span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                Stand up beside the fireplace
                </span><span class="fsG7q"><span data-name="E7/G#" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7/G#</span>
                Take that look from off your face
                </span><span class="fsG7q"><span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>             <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>       <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                You ain't ever gonna burn my heart out
                </span> 
                 
                [Chorus]
                <span class="fsG7q">    <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>  <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>         <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>        <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>
                And so Sally can wait, she knows it's too late
                </span><span class="fsG7q">         <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>          <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                as we're walking on by
                </span><span class="fsG7q">    <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>       <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>   <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>
                Her soul slides away,
                </span><span class="fsG7q">               <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>             <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                but don't look back in anger
                </span><span class="fsG7q">            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>   <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>   <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>   <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>   <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                I heard you say
                </span> 
                 
                [Verse 2]
                <span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>              <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>               <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>
                Take me to the place where you go
                </span><span class="fsG7q">      <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>     <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>      <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>                <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                Where nobody knows, if it's night or day
                </span><span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>                     <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>           <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>
                Please don't put your life in the hands
                </span><span class="fsG7q">     <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>            <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>     <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>                    <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                of a rock and roll band, who'll throw it all away
                </span> 
                 
                [Pre-Chorus]
                <span class="fsG7q"><span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>                      <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                 I'm gonna start a revolution from my bed
                </span><span class="fsG7q">         <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>                 <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                'Cos you said the brains I had went to my head
                </span><span class="fsG7q"><span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>                 <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>             <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                Step outside, the summertime's in bloom
                </span><span class="fsG7q"><span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                Stand up beside the fireplace
                </span><span class="fsG7q"><span data-name="E7/G#" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7/G#</span>
                Take that look from off your face
                </span><span class="fsG7q">     <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>             <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>       <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                'Cos you ain't ever gonna burn my heart out
                </span> 
                 
                [Chorus]
                <span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>  <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>         <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>        <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>
                So Sally can wait, she knows it's too late
                </span><span class="fsG7q">         <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>          <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                as she's walking on by
                </span><span class="fsG7q">   <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>       <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>   <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>
                My soul slides away,
                </span><span class="fsG7q">               <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>             <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                but don't look back in anger
                </span><span class="fsG7q">            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                I heard you say
                </span> 
                 
                [Solo]
                 
                | <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>  <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span> | <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>     | x3
                | <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>      | <span data-name="E7/G#" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7/G#</span> |
                | <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>  <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>  | <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>     | <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>     | <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span> N.C. |
                 
                 
                [Chorus]
                <span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>  <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>         <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>        <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>
                So Sally can wait, she knows it's too late
                </span><span class="fsG7q">         <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>          <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                as we're walking on by
                </span><span class="fsG7q">    <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>       <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>   <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>
                Her soul slides away,
                </span><span class="fsG7q">               <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>             <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                but don't look back in anger
                </span><span class="fsG7q">            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                I heard you say
                </span><span class="fsG7q"><span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>  <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>         <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>        <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>             <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>
                So Sally can wait, she knows it's too late
                </span><span class="fsG7q">         <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>          <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span> <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>
                as she's walking on by
                </span><span class="fsG7q">   <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>    <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>       <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>
                My soul slides away
                </span><span class="fsG7q">               <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>
                But don't look back in anger
                </span><span class="fsG7q">           <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>
                Don't look back in anger
                </span><span class="fsG7q">            <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>   <span data-name="G" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">G</span>   <span data-name="Am" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Am</span>   <span data-name="E7" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7</span>   <span data-name="F" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">F</span>   <span data-name="Fm6" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">Fm6</span>              <span data-name="C" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">C</span>
                I heard you say                     At least not today
                </div>
            </section>