<section >
    <div>
        <section>
            <pre>

            [Intro]
     
            | <span class="c-chord">C</span>    | <span class="chord-f">F</span>    | <span class="c-chord">C</span>    | <span class="chord-f">F</span>    |
             
             
            [Verse] 
            <span class="c-chord">C</span>               <span class="chord-g">G</span>            <span class="chord-am">Am</span>
            Slip inside the eye of your mind
                      <span class="chord-e">E</span>             <span class="chord-f">F</span>    <span class="chord-g">G</span>
            Don't you know you might find
                              <span class="c-chord">C</span>     <span class="chord-am">Am</span> <span class="chord-g">G</span>
            A better place to play
            <span class="c-chord">C</span>             <span class="chord-g">G</span>           <span class="chord-am">Am</span>
            You said that you'd never been
                        <span class="chord-e">E</span>                 <span class="chord-f">F</span>    <span class="chord-g">G</span>
            But all the things that you've seen
                         <span class="c-chord">C</span>    <span class="chord-am">Am</span> <span class="chord-g">G</span>
            Slowly fade away
            </span> 
             
            [Pre-Choru]
            <span class="chord-f">F</span>                 <span class="chord-fm6">Fm6</span>            <span class="c-chord">C</span>
             So I start a revolution from my bed
                     <span class="chord-f">F</span>                 <span class="chord-fm6">Fm6</span>            <span class="c-chord">C</span>
            'Cos you said the brains I had went to my head
            <span class="chord-f">F</span>             <span class="chord-fm6">Fm6</span>             <span class="c-chord">C</span>
            Step outside, summertime's in bloom
            <span class="chord-g">G</span>
            Stand up beside the fireplace
            <span data-name="E7/G#" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7/G#</span>
            Take that look from off your face
            <span class="chord-am">Am</span>             <span class="chord-g">G</span>             <span class="chord-f">F</span>       <span class="chord-g">G</span>
            You ain't ever gonna burn my heart out
            </span> 
             
            [Choru]
            <span class="c-chord">C</span>  <span class="chord-g">G</span>         <span class="chord-am">Am</span>        <span class="chord-e">E</span>             <span class="chord-f">F</span>
            And so Sally can wait, she knows it's too late
                     <span class="chord-g">G</span>          <span class="c-chord">C</span>   <span class="chord-am">Am</span> <span class="chord-g">G</span>
            as we're walking on by
                <span class="c-chord">C</span>    <span class="chord-g">G</span>       <span class="chord-am">Am</span>   <span class="chord-e">E</span>
            Her soul slides away,
                           <span class="chord-f">F</span>             <span class="chord-g">G</span>
            but don't look back in anger
                        <span class="c-chord">C</span>   <span class="chord-g">G</span>   <span class="chord-am">Am</span>   <span class="chord-e">E</span>   <span class="chord-f">F</span>   <span class="chord-g">G</span>   <span class="c-chord">C</span>   <span class="chord-am">Am</span> <span class="chord-g">G</span>
            I heard you say
            </span> 
             
            [Verse] 
            <span class="c-chord">C</span>              <span class="chord-g">G</span>               <span class="chord-am">Am</span>
            Take me to the place where you go
                  <span class="chord-e">E</span>     <span class="chord-f">F</span>      <span class="chord-g">G</span>                <span class="c-chord">C</span>    <span class="chord-am">Am</span> <span class="chord-g">G</span>
            Where nobody knows, if it's night or day
            <span class="c-chord">C</span>                     <span class="chord-g">G</span>           <span class="chord-am">Am</span>
            Please don't put your life in the hands
                 <span class="chord-e">E</span>            <span class="chord-f">F</span>     <span class="chord-g">G</span>                    <span class="c-chord">C</span>    <span class="chord-am">Am</span> <span class="chord-g">G</span>
            of a rock and roll band, who'll throw it all away
            </span> 
             
            [Pre-Chorus]
            <span class="chord-f">F</span>                      <span class="chord-fm6">Fm6</span>            <span class="c-chord">C</span>
             I'm gonna start a revolution from my bed
                     <span class="chord-f">F</span>                 <span class="chord-fm6">Fm6</span>            <span class="c-chord">C</span>
            'Cos you said the brains I had went to my head
            <span class="chord-f">F</span>                 <span class="chord-fm6">Fm6</span>             <span class="c-chord">C</span>
            Step outside, the summertime's in bloom
            <span class="chord-g">G</span>
            Stand up beside the fireplace
            <span data-name="E7/G#" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7/G#</span>
            Take that look from off your face
                 <span class="chord-am">Am</span>             <span class="chord-g">G</span>             <span class="chord-f">F</span>       <span class="chord-g">G</span>
            'Cos you ain't ever gonna burn my heart out
            </span> 
             
            [Chorus]
            <span class="c-chord">C</span>  <span class="chord-g">G</span>         <span class="chord-am">Am</span>        <span class="chord-e">E</span>             <span class="chord-f">F</span>
            So Sally can wait, she knows it's too late
                     <span class="chord-g">G</span>          <span class="c-chord">C</span>   <span class="chord-am">Am</span> <span class="chord-g">G</span>
            as she's walking on by
               <span class="c-chord">C</span>    <span class="chord-g">G</span>       <span class="chord-am">Am</span>   <span class="chord-e">E</span>
            My soul slides away,
                           <span class="chord-f">F</span>             <span class="chord-g">G</span>
            but don't look back in anger
                        <span class="c-chord">C</span>   <span class="chord-am">Am</span> <span class="chord-g">G</span>
            I heard you say
            </span> 
             
            [Solo]
             
            | <span class="chord-f">F</span>  <span class="chord-fm6">Fm6</span> | <span class="c-chord">C</span>     | x3
            | <span class="chord-g">G</span>      | <span data-name="E7/G#" class="fciXY _Oy28" style="color: rgb(0, 0, 0);">E7/G#</span> |
            | <span class="chord-am">Am</span>  <span class="chord-g">G</span>  | <span class="chord-f">F</span>     | <span class="chord-g">G</span>     | <span class="chord-g">G</span> N.C. |
             
             
            [Choru<span class="c-chord">C</span>  <span class="chord-g">G</span>         <span class="chord-am">Am</span>        <span class="chord-e">E</span>             <span class="chord-f">F</span>
            So Sally can wait, she knows it's too late
                     <span class="chord-g">G</span>          <span class="c-chord">C</span>   <span class="chord-am">Am</span> <span class="chord-g">G</span>
            as we're walking on by
                <span class="c-chord">C</span>    <span class="chord-g">G</span>       <span class="chord-am">Am</span>   <span class="chord-e">E</span>
            Her soul slides away,
                           <span class="chord-f">F</span>             <span class="chord-g">G</span>
            but don't look back in anger
                        <span class="c-chord">C</span>    <span class="chord-am">Am</span> <span class="chord-g">G</span>
            I heard you say
            <span class="c-chord">C</span>  <span class="chord-g">G</span>         <span class="chord-am">Am</span>        <span class="chord-e">E</span>             <span class="chord-f">F</span>
            So Sally can wait, she knows it's too late
                     <span class="chord-g">G</span>          <span class="c-chord">C</span>   <span class="chord-am">Am</span> <span class="chord-g">G</span>
            as she's walking on by
               <span class="c-chord">C</span>    <span class="chord-g">G</span>       <span class="chord-am">Am</span>
            My soul slides away
                           <span class="chord-f">F</span>
            But don't look back in anger
                       <span class="chord-fm6">Fm6</span>
            Don't look back in anger
                        <span class="c-chord">C</span>   <span class="chord-g">G</span>   <span class="chord-am">Am</span>   <span class="chord-e">E</span>   <span class="chord-f">F</span>   <span class="chord-fm6">Fm6</span>              <span class="c-chord">C</span>
            I heard you say                     At least not today
        </pre>
        </section>
    </div>
</section>