<pre>
Dm C
Bb C
Dm C
Bb C
 
 
[Verse]
 
               Dm
It starts with one thing I don't know why
   C
It doesn't even matter how hard you try
Bb
Keep that in mind I designed this rhyme
   C
To explain in due time
      Dm
All I know, time is a valuable thing
C
Watch it fly by as the pendulum swings
Bb
Watch it count down to the end of the day
          C
The clock ticks life away
          Dm
It's so unreal, didn't look out below
C
Watch the time go right out the window
Bb
Trying to hold on, but didn't even know
   C
I wasted it all just to 
          Dm
Watch you go, I kept everything inside
          C
And even though I tried, it all fell apart
Bb
What it meant to me will eventually be
        C
A memory of a time when
 
 
[Chorus]
 
           Dm              F
I tried so hard and got so far
           C                   Bb
But in the end it doesn't even matter
         Dm              F
I had to fall to lose it all
           C                   Bb
But in the end it doesn't even matter
 
 
[Verse]
 
Dm
One thing, I don't know why
   C
It doesn't even matter how hard you try
Bb
Keep that in mind I designed this rhyme
       C
To remind myself how
           Dm
I tried so hard, in spite of the way you were mocking me
C
 Acting like I was part of your property
Bb
  Remembering all the times you fought with me
C                        Dm
  I'm surprised it got so far
 
Things aren't the way they were before
C
You wouldn't even recognize me anymore
Bb
  Not that you knew me back then
       C
But it all comes back to me
       Dm
In the end you kept everything inside
         C
And even though I tried, it all fell apart
Bb
What it meant to me will eventually be
       C
A memory of a time when
 
 
[Chorus]
 
           Dm              F
I tried so hard and got so far
           C                   Bb
But in the end it doesn't even matter
         Dm              F
I had to fall to lose it all
           C                   Bb
But in the end it doesn't even matter
 
 
[Bridge]
 
            Dm       C
I've put my trust in you
          Bb           C
Pushed as far as I can go
             Dm
And for all this
             C                    Bb   C
There's only one thing you should know
            Dm       F
I've put my trust in you
          C            Bb
Pushed as far as I can go
             Dm
And for all this
             F                    C   Bb
There's only one thing you should know
 
 
[Chorus]
 
           Dm              F
I tried so hard and got so far
           C                   Bb
But in the end it doesn't even matter
         Dm              F
I had to fall to lose it all
           C                   Bb
But in the end it doesn't even matter
 
 
[Outro]
 
Dm   C
Dm   C
Dm   C
Dm   C
Dm   C
Dm
</pre>