<pre>
[Verse 1]
 
D
Today is a winding road
A                                                 G      A
That's taking me to places that I didn't want to go, whoa
D
Today in the blink of an eye
A                                                   G   A
I'm holding on to something and I do not know why I tried
 
 
[Pre-chorus 1]
 
Bm                                 A
I tried to read between the lines, I tried to look in your eyes
D
I want a simple explanation; what I'm feeling inside
G                       A
I gotta find a way out, maybe there's a way out
 
 
[Chorus]
 
D                       A
Your voice was the soundtrack of my summer
G
Do you know you're unlike any other?
Bm                      A
You'll always be my thunder, and I said
D                       A
Your eyes are the brightest of all the colors
G
I don't wanna ever love another
Bm                       A      G              A
You'll always be my thunder, so bring on the rain
                        (D)
And bring on the thunder
 
 
[Verse 2]
 
D
Today is a winding road
A                                               G               A
Tell me where to start and tell me something I don't know, whoa
D
Today I'm on my own
A                                               G              A
I can't move a muscle and I can't pick up the phone, I don't know
 
 
[Pre-chorus 2]
 
Bm                                A
And now I'm itching for the tall grass and longing for the breeze
D
I need to step outside, just to see if I can breathe
                G                        A
I gotta find a way out, maybe there's a way out
 
 
[Chorus]
 
D                       A
Your voice was the soundtrack of my summer
G
Do you know you're unlike any other?
Bm                      A
You'll always be my thunder, and I said
D                       A
Your eyes are the brightest of all the colors
G
I don't wanna ever love another
Bm                       A      G              A
You'll always be my thunder, so bring on the rain
 
 
[Bridge]
 
Bm                                                        A
Yeah, I'm walking on a tightrope, I'm wrapped up in vines
G                                                        A
I think I'll make it out but you just gotta give me time
Bm
Strike me down with lightning, let me feel you in my veins
A                                               G
I wanna let you know how much I feel your pain
 
 
[Verse 3]
 
D
Today is a winding road
A                                                G      A
That's taking me to places that I didn't want to go, whoa
 
 
[Chorus]
 
D                       A
Your voice was the soundtrack of my summer
G
Do you know you're unlike any other?
Bm                      A
You'll always be my thunder, and I said
D                       A
Your eyes are the brightest of all the colors
G
I don't wanna ever love another
Bm                      A
You'll always be my thunder, and I said
 
D                       A
Your voice was the soundtrack of my summer
G
Do you know you're unlike any other?
Bm                       A      G              A
You'll always be my thunder, so bring on the rain
G                       A                      D
Oh baby, bring on the pain and listen to the thunder
</pre>