<pre>
[Intro]
Bm  G   D   A
Bm  G   D   F#
 
[Verse 1]
Bm           G               D
  Feeling my way through the darkness
Bm       G            D
  Guided by a beating heart
Bm        G              D
  I can’t tell where the journey will end
Bm      G             D
  But I know where to start
Bm             G       D
  They tell me I’m too young to understand
Bm             G              D
  They say I’m caught up in a dream
Bm               G             D
  Well life will pass me by if I don’t open up my eyes
Bm            G       D
  Well that’s fine by me
 
[Chorus]
           Bm      G        D
So wake me up when it’s all over
A        Bm    G       D
When I’m wiser and I’m older
F#       Bm         G         D
All this time I was finding myself
     A Bm      G          D
And I   didn’t know I was lost
   F#      Bm      G        D
So wake me up when it’s all over
A        Bm    G       D
When I’m wiser and I’m older
F#       Bm         G         D
All this time I was finding myself
     A Bm      G          D
And I   didn’t know I was lost
 
[Instrumental]
Bm  G   D   A
Bm  G   D   F#
Bm  G   D   A
Bm  G   D   F#
 
Bm  G   D   A
Bm  G   D   F#
Bm  G   D   A
Bm  G   D   F#
 
Bm  G   D   A
Bm  G   D   F#
Bm  G   D   A
Bm  G   D   F#
 
[Verse 2]
Bm        G            D
  I tried carrying the weight of the world
Bm      G             D
  But I only have two hands
Bm          G              D
  Hope I get the chance to travel the world
Bm            G        D
  And I don’t have any plans
Bm            G             D
  Wish that I could stay forever this young
Bm     G                 D
  Not afraid to close my eyes
Bm         G             D        A
  Life’s a game made for everyone
Bm    G          D
  And love is a prize
 
[Chorus]
           Bm      G        D
So wake me up when it’s all over
A        Bm    G       D
When I’m wiser and I’m older
F#       Bm         G          D
All this time I was finding myself
     A Bm      G          D
And I   didn’t know I was lost
           Bm      G        D
So wake me up when it’s all over
A        Bm    G       D
When I’m wiser and I’m older
F#       Bm         G          D
All this time I was finding myself
     A Bm      G          D
And I   didn’t know I was lost
 
[Bridge]
Bm         G          D      A
  I didn’t know I was lost
Bm         G          D      F#
  I didn’t know I was lost
Bm         G          D      A
  I didn’t know I was lost
Bm         G          D      F#
  I didn’t know I was lost
 
[Outro]
Bm  G   D   A
Bm  G   D   F#
Bm  G   D   A
Bm  G   D   F#
 
Bm  G   D   A
Bm  G   D   F#
Bm  G   D   A
Bm  G   D   F#
 
Bm  G   D   A
Bm  G   D   F#
Bm  G   D   A
Bm  G   D   F#
Bm
</pre>