<pre>
    [Intro] : G E C D
      G          E
      เฮ้เธอทำไมตัวเธอถึงด๊ำดำ
      C       D
      โอ้แม่งามขำ ดำเป็นดินสอขนาดสองบี
        G          E
      หน้าอกหน้าใจก็ดูเหมือนจะไม่มี
      C           D
      จอแบนอย่างนี้ หมอเกาหลีคงไม่รับทำ
      
        G          E           C
      ท่อนแขนก็จัดว่าใหญ่ ผู้หญิงอะไรขาโต
         D 
      ใครทำให้เธอโมโหคงคอหักตาย
       G          E          C
      ไม่รู้น้ำหนักเท่าไหร่ กล้าชั่งให้ดูไหมนี่
        D
      จะเอาเธอมาแยกมองแต่ละที ไม่มีอะไรสวยเลย
      
                G          E
      แต่ดูรวม ๆ แล้วมีเสน่ห์เหลือเกิน
              C        D
      ไม่ต้องมาเขิน ฉันพูดจริง ๆ
           G       E         C
      เธอมีเสน่ห์มากมาย จะน่ารักไปไหน
                  D
      อยากจะได้แอบอิง ยิ่งดูยิ่งมีเสน่ห์
      
      [Verse] : G E C D
       G         E
      เฮ้เธอที่ฉันปากเสียเสมอมา
     C           D
      รู้ไว้เถอะนะ เพียงเรียกร้องให้เธอสนใจ
       G         E
      ก็ไม่รู้จะเริ่มจีบโดยคำพูดใด
       C           D
      ที่ล้อเลียนไป จริง ๆ แล้วมันคลั่งไคล้เธอ
      
       G           E              C 
      น่ารักตอนเธอพูดจา ลึกซึ้งถ้าเป็นเรื่องใจ
        D
      เธอมองอะไร อะไรด้วยความอ่อนโยน
       G           E                  C
      ไม่สมบูรณ์แต่สมดุลย์ เห็นภาพรวมเธอแล้วโดน
      D
      รู้ไหมใจดวงนี้มันสับสน หลงไหลเธอจนหมดใจแล้วเออ
      
      G          E
      แต่ดูรวม ๆ แล้วมีเสน่ห์เหลือเกิน
              C        D
      ไม่ต้องมาเขิน ฉันพูดจริง ๆ
           G       E         C
      เธอมีเสน่ห์มากมาย จะน่ารักไปไหน
                  D
      อยากจะได้แอบอิง ยิ่งดูยิ่งมีเสน่ห์
      
        [Bridge] : G E C D
      มันทำไม มันทำไม มันทำไมด๊ำดำ
      ทำไม แบ๊น แบนทำไมแขนใหญ่ คนอะไรขาโต
      มันทำไมด๊ำดำ ทำไม แบ๊น แบน
      ทำไมแขนใหญ่ คนอะไรขาโต
      มันทำไมด๊ำดำ ทำไม แบ๊น แบน
      ทำไมแขนใหญ่ คนอะไรขาโต
      มันทำไม มันทำไม มันทำไม มันทำไม
      แล้วทำไม แล้วทำไม แล้วทำไม
      
      G          E
      แต่ดูรวม ๆ แล้วมีเสน่ห์เหลือเกิน
              C        D
      ไม่ต้องมาเขิน ฉันพูดจริง ๆ
           G       E         C
      เธอมีเสน่ห์มากมาย จะน่ารักไปไหน
                  D
      อยากจะได้แอบอิง ยิ่งดูยิ่งมีเสน่ห์
      

    </pre>


