<pre>
[Intro]
Dm Fmaj7 G
 
[Verse 1]
Am7 G       Am7  G   Fmaj7   C  G
    Take me out    tonight
              Am7               G
where there's music and there's people
        Am7        G     Fmaj7   C  G
who are young and alive
Am7     G       Am7   G
Driving in your car
  Fmaj7                  C
I never never want to go home
  G               Am7    G Am7  G
because I haven't got one
   Fmaj7   C  G
anymore
 
[Verse 2]
Am7 G       Am7  G  Fmaj7     C G
    Take me out     tonight
          Am7         G
because I want to see people and I
Am7         G      Fmaj7   C G
want to see life
Am7     G       Am7   G
Driving in your car
    Fmaj7                C
Oh, please don't drop me home
  G              Am7           G
because it's not my home, it's their home
        Am7        G     Fmaj7    C G
and I'm welcome no more
 
[Bridge]
Dm  Fmaj7   G
 
[Chorus]
         C             Am7
And if a double-decker bus
Fmaj7
crashes into us
G           C
  to die by your side
          Fmaj7           Dm
is such a heavenly way to die
         C           Am7
And if a ten ton truck
Fmaj7
kills the both of us
G           C
  to die by your side well
    Fmaj7                     Dm
the pleasure the privilege is mine
 
[Verse 3]
Am7 G      Am7 G    Fmaj7    C G
   Take me out    tonight
        Am7               G
take me anywhere, I don't care
        Am7   G Fmaj7 C G
I don't care
           Am7      G    Am7
And in the darkened underpass
  G          Fmaj7                             C G
I thought Oh God, my chance has come at last
 
            Am7           G
(but then a strange fear gripped me and I
Am7            G    Fmaj7 C G
just couldn't ask)
 
[Verse 4]
Am7 G       Am7 G   Fmaj7    C G
    Take me out   tonight
           Am7               G
oh take me anywhere, I don't care
        Am7    G Fmaj7 C G
I don't care
Am7     G       Am7  G
driving in your car
  Fmaj7                  C
I never never want to go home
  G               Am7      G Am7 G
because I haven't got one
          Fmaj7       C G
I haven't got one
 
[Bridge]
Dm  Fmaj7   G
 
[Chorus]
         C             Am7
And if a double-decker bus
Fmaj7
crashes into us
G           C
  to die by your side
          Fmaj7           Dm
is such a heavenly way to die
         C           Am7
And if a ten ton truck
Fmaj7
kills the both of us
G           C
  to die by your side well
    Fmaj7                     Dm
the pleasure the privilege is mine
 
[Outro]
Am7        G            Am7        G
There is a light and it never goes out
Fmaj7                   C          G
There is a light and it never goes out
</pre>