<pre>
[Intro]
F#m7 A  Esus4  B7sus4
F#m7 A  Esus4  B7sus4
F#m7 A  Esus4  B7sus4
F#m7 A  Esus4  B7sus4
 
[Verse 1]
F#m7          A
    Today is gonna be the day
              Esus4                  B7sus4
That they're gonna throw it back to you
F#m7             A
    By now you should've somehow
    Esus4                B7sus4
Realised what you gotta do
F#m7                  A
I don't believe that anybody
 Esus4           B7sus4       D   Esus4   B7sus4
Feels the way I do about you now
 
[Verse 2]
F#m7              A
    Backbeat the word is on the street
          Esus4                 B7sus4
That the fire in your heart is out
F#m7                 A
    I'm sure you've heard it all before
          Esus4             B7sus4
But you never really had a doubt
F#m7                      A       Esus4
    I don't believe that anybody feels
           B7sus4       F#m7 A  Esus4  B7sus4
The way I do about you now
 
[Pre-chorus]
     D                Esus4            F#m
And all the roads we have to walk are winding
     D                Esus4                F#m
And all the lights that lead us there are blinding
 D              Esus4
There are many things that I would
F#m7     Esus4  A
Like to say to you
       Esus4      B7sus4
But I don't know how
 
[Chorus]
         D   F#m7 A
Because maybe
        F#m7                  D     F#m7 A
You're gonna be the one that saves me
     F#m7  D  F#m7 A
And after all
           F#m7   D  F#m7 A  F#m7     A
You're my wonderwall
 
[Verse 3]
F#m7           A
    Today was gonna be the day
             Esus4                  B7sus4
But they'll never throw it back to you
F#m7            A
    By now you should've somehow
    Esus4                    B7sus4
Realised what you're not to do
F#m7                  A
I don't believe that anybody
Esus4            B7sus4
Feels the way I do
           F#m7 A  Esus4  B7sus4
About you now
 
[Pre-chorus]
     D                  Esus4              F#m
And all the roads that lead you there are winding
     D                   Esus4             F#m
And all the lights that light the way are blinding
 D              Esus4               F#m7    Esus4  A
There are many things that I would like to say to you
       Esus4      B7sus4
But I don't know how
 
[Chorus]
        D   F#m7 A
I said maybe
        F#m7                 D      F#m7 A
You're gonna be the one that saves me
     F#m7  D  F#m7 A
And after all
           F#m7  D   F#m7 A  F#m
You're my wonderwall
        D             F#m7  A
I said maybe (I said maybe)
        F#m7                 D      F#m7 A
You're gonna be the one that saves me
     F#m7  D  F#m7 A
And after all
           F#m7  D   F#m7 A  F#m
You're my wonderwall
        D             F#m7  A
I said maybe (I said maybe)
        F#m7                  D              F#m7     A
You're gonna be the one that saves me (that saves me)
        F#m7                  D              F#m7     A
You're gonna be the one that saves me (that saves me)
        F#m7                  D              F#m7     A  F#m
You're gonna be the one that saves me (that saves me)
 
[Outro]
</pre>
