<pre>
[Intro]
G    G
G    D    C    G
 
[Verse 1]
G
  Look at the stars
                       D
Look how they shine for you
                     Cmaj7
And everything you do
 
Yeah, they were all yellow
G
  I came along
                  D
I wrote a song for you
                         Cmaj7
And all the things you do
 
And it was called "Yellow"
G                  D
  So then I took my turn
                             Cmaj7
Oh, what a thing to have done
                      G  Gsus4
And it was all yellow
 
[Chorus 1]
Cmaj7
Your skin
Em7           D
Oh yeah, your skin and bones
Cmaj7  Em7          D
Turn into something beautiful
Cmaj7     Em7        D          Cmaj7
You know, you know I love you so
 
You know I love you so
 
[Instrumental]
G    D    C    G  Gsus4
 
[Verse 2]
G
  I swam across
                   D
I jumped across for you
                      Cmaj7
Oh, what a thing to do
 
'Cause you were all yellow
G
  I drew a line
                 D
I drew a line for you
                      Cmaj7
Oh, what a thing to do
                      G  Gsus4
And it was all yellow
 
[Chorus 2]
C
Your skin
Em7           D
Oh yeah, your skin and bones
Cmaj7  Em7          D
Turn into something beautiful
Cmaj7
And you know
Em7       D            Cmaj7
For you I bleed myself dry
 
For you I bleed myself dry
 
[Instrumental]
G    D    C    G  Gsus4
 
[Bridge]
     G                             D
It's true, look how they shine for you
                        Cmaj7
Look how they shine for you
                        G
Look how they shine for
                        D
Look how they shine for you
                        Cmaj7
Look how they shine for you
 
Look how they shine
 
[Outro]
G
  Look at the stars
                       Dm7
Look how they shine for you
                          Cmaj7
And all the things that you do
</pre>