<pre>
Note about strumming patterns: the intro of the song has a more uptempo feel,
but the main body of the song including the chorus is definitely at a slow tempo.
 
G6sus2  3x223x
 
[Intro]
Am  C  G6    x3
G6sus2
 
[Verse 1]
Am           C             G
  I'm waking up to ash and dust
          D                    Am
I wipe my brow and I sweat my rust
              C             G   N.C.
I'm breathing in the chemicals  (Gasp)
Am             C           G                 D                   Am
  I'm breaking in, shaping up, then checking out on the prison bus
        C            G
This is it, the apocalypse
  D
Whoa
 
[Chorus 1]
           Am            C
I'm waking up, I feel it in my bones
 G                D
Enough to make my systems blow
Am                     C
Welcome to the new age, to the new age
G                      D
Welcome to the new age, to the new age
Am     C         G            D
  Whoa, whoa, I'm radioactive, radioactive
Am     C         G            D
  Whoa, whoa, I'm radioactive, radioactive
 
[Verse 2]
Am              C             G
   I raise my flags, dye my clothes
           D            Am
It's a revolution, I suppose
               C                G
We're painted red to fit right in
  D
Whoa
Am              C           G                 D                  Am
   I'm breaking in, shaping up, then checking out on the prison bus
        C            G
This is it, the apocalypse
  D
Whoa
 
[Chorus 2]
           Am            C
I'm waking up, I feel it in my bones
 G                D
Enough to make my systems blow
Am                     C
Welcome to the new age, to the new age
G                      D
Welcome to the new age, to the new age
Am     C         G            D
  Whoa, whoa, I'm radioactive, radioactive
Am     C         G            D
  Whoa, whoa, I'm radioactive, radioactive
 
[Bridge]
Am         Cmaj7 G           D
All systems go, sun hasn't died
Am         Cmaj7  G                D
Deep in my bones, straight from inside
 
[Chorus 3]
           Am            C
I'm waking up, I feel it in my bones
 G                D
Enough to make my systems blow
Am                     C
Welcome to the new age, to the new age
G                      D
Welcome to the new age, to the new age
Am     C         G            D
  Whoa, whoa, I'm radioactive, radioactive
Am     C         G            D
  Whoa, whoa, I'm radioactive, radioactive
</pre>