<pre>
    [Intro]
C C/B  F
 
 
[Verse 1]
C                   C/B
  Coming out of my cage   
                          F
And I've been doing just fine  
 
Gotta gotta be down
 
Because I want it all
C                       C/B
  It started out with a kiss
                         F
How did it end up like this? 
 
It was only a kiss
 
It was only a kiss
C                   C/B
  Now I'm falling asleep
                     F
And she's calling a cab  
 
While he's having a smoke
 
And she's taking the drag
C                      C/B
  Now they're going to bed
                   F
And my stomach is sick    
 
And it's all in my head
 
But she's touching his
 
 
[Pre-Chorus]
 Am
Сhest now 
                   G
He takes off her dress now
       F
Let me go
Am
  I just can't look
      G
It's killing me
     F
And taking control 
 
 
[Chorus]
C
Jealousy
F               Am
Turning saints into the sea
G                      C
Swimming through sick lullabies
F               Am
Choking on your alibis
G                  C
But it's just the price I pay
F          Am
Destiny is calling me
G          C     Fmaj7
Open up my eager eyes
Am                  G
   ‘Cause I'm Mr. Brightside 
 
 
[Instrumental]
C   Fadd9  Am   G
C   Fadd9  Am   G
 
 
[Verse 2]
C                      C/B
  I'm coming out of my cage  
                          F
And I've been doing just fine  
 
Gotta gotta be down
 
Because I want it all
C                       C/B
  It started out with a kiss
                         F
How did it end up like this?     
 
It was only a kiss
 
It was only a kiss
C                  C/B
  Now I'm falling asleep
                     F
And she's calling a cab  
 
While he's having a smoke
 
And she's taking the drag
C                      C/B
  Now they're going to bed
                   F
And my stomach is sick 
 
And it's all in my head
 
But she's touching his
 
 
[Pre-Chorus]
 Am
Сhest now 
                   G
He takes off her dress now
       F
Let me go
Am
  'Cause I just can't look
      G
It's killing me
     F
And taking control
 
 
[Chorus]
C
Jealousy
F              Am
Turning saints into the sea
G                      C
Swimming through sick lullabies
F                Am
Choking on your alibies
G                  C
But it's just the price I pay
F          Am
Destiny is calling me
G           C     Fmaj7
Open up my eager eyes
Am                 G
   ‘Cause I'm Mr. Brightside 
 
 
[Instrumental]
C   Fadd9  Am   G
C   Fadd9  Am   G
 
 
[Outro]
   C    F  Am  G
I never
   C    F  Am  G
I never
   C    F  Am  G
I never
   C    F  Am  G
I never
</pre>