<pre>
[Intro]
 
| C    | F    | C    | F    |
 
 
[Verse 1]
C               G            Am
Slip inside the eye of your mind
          E7             F    G
Don't you know you might find
                  C     Am G
A better place to play
C             G           Am
You said that you'd never been
            E7                 F    G
But all the things that you've seen
             C    Am G
Slowly fade away
 
 
[Pre-Chorus]
F                 Fm6            C
 So I start a revolution from my bed
         F                 Fm6            C
'Cos you said the brains I had went to my head
F             Fm6             C
Step outside, summertime's in bloom
G
Stand up beside the fireplace
E7/G#
Take that look from off your face
Am             G             F       G
You ain't ever gonna burn my heart out
 
 
[Chorus]
    C  G         Am        E7             F
And so Sally can wait, she knows it's too late
         G          C   Am G
as we're walking on by
    C    G       Am   E7
Her soul slides away,
               F             G
but don't look back in anger
            C   G   Am   E7   F   G   C   Am G
I heard you say
 
 
[Verse 2]
C              G               Am
Take me to the place where you go
      E7     F      G                C    Am G
Where nobody knows, if it's night or day
C                     G           Am
Please don't put your life in the hands
     E7            F     G                    C    Am G
of a rock and roll band, who'll throw it all away
 
 
[Pre-Chorus]
F                      Fm6            C
 I'm gonna start a revolution from my bed
         F                 Fm6            C
'Cos you said the brains I had went to my head
F                 Fm6             C
Step outside, the summertime's in bloom
G
Stand up beside the fireplace
E7/G#
Take that look from off your face
     Am             G             F       G
'Cos you ain't ever gonna burn my heart out
 
 
[Chorus]
C  G         Am        E7             F
So Sally can wait, she knows it's too late
         G          C   Am G
as she's walking on by
   C    G       Am   E7
My soul slides away,
               F             G
but don't look back in anger
            C   Am G
I heard you say
 
 
[Solo]
 
| F  Fm6 | C     | x3
| G      | E7/G# |
| Am  G  | F     | G     | G N.C. |
 
 
[Chorus]
C  G         Am        E7             F
So Sally can wait, she knows it's too late
         G          C   Am G
as we're walking on by
    C    G       Am   E7
Her soul slides away,
               F             G
but don't look back in anger
            C    Am G
I heard you say
C  G         Am        E7             F
So Sally can wait, she knows it's too late
         G          C   Am G
as she's walking on by
   C    G       Am
My soul slides away
               F
But don't look back in anger
           Fm6
Don't look back in anger
            C   G   Am   E7   F   Fm6              C
I heard you say                     At least not today
</pre>