<pre>
[Intro]
 
Am  Fmaj7/A  G  x4
 
 
[Verse]
 
(Gsus4)      Am        Fmaj7/A    G
I'll sing it one last time for you
         Am    Fmaj7/A   Gsus4
Then we really have to go
                Am   Fmaj7/A         G
You've been the only thing that's right
            Am    Fmaj7/A    G
In all I've done
            Am    Fmaj7/A    G
And I can barely look at you
           Am     Fmaj7/A   G
But every single time I do
              Am     Fmaj7/A   G
I know we'll make it anywhere
           Am   Fmaj7/A   G
Away from here
 
 
[Chorus 1]
 
C
Light up, light up
           G
As if you have a choice
              Gsus4 Am
Even if you cannot hear my voice
                          F
I'll be right beside you dear
 
 
[Chorus 2]
 
C
Louder, louder
              G
And we'll run for our lives
              Gsus4   Am
I can hardly speak I understand
                                   F     G
Why you can't raise your voice to say
 
 
[Verse]
 
(G)         Am       Fmaj7/A       G
To think I might not see those eyes
         Am      Fmaj7/A    G
Makes it so hard not to cry
          Am      Fmaj7/A      G
And as we say our long goodbyes
         Am   Fmaj7/A   G
I nearly do
 
 
[Chorus 3]
 
C
Light up, light up
           G
As if you have a choice
             Gsus4  Am
Even if you cannot hear my voice
                          F
I'll be right beside you dear
 
 
[Chorus 4]
 
C
Louder, louder
               G
And we'll run for our lives
              Gsus4   Am
I can hardly speak I understand
                                   F
Why you can't raise your voice to say
 
 
[Chorus 5]
 
C
Slower, slower
               G
We don't have time for that
                 Gsus4   Am
All I want's to find an easier way
                          F
To get out of our little heads
 
 
[Chorus 6]
 
C
Have heart my dear
               G
We're bound to be afraid
              Gsus4   Am
Even if it's just for a few days
                        F       G
Making up for all this mess
 
 
[Guitar solo]
 
Played on a single string (G).
 
G(3rd) string -
 
10\9 9\7 7/9 9/10 -
10\9 9\7 7\5 5/10 -
10\9 9\7 7/9 9/10 -
10\9 9\7 7\5 5/10 -
10\9 9\7 7\5 5\4 4\2 2p0 0h2 2/4 4/5 5/7 7\5 5/7 7/9 9/10
 
(Play that ^^ twice)
 
The accompanying chords are:
C  G  Gsus4  Am  F
(Exactly like the chorus x2)
 
 
[Final verse]
 
C
Light up, light up
           G
As is you have a choice
              Gsus4 Am
Even if you cannot hear my voice
                          F      G     C
I'll be right beside you dear...
</pre>